<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Просмотр спаршинных новостей</title>
    </head>
    <body>
        <header>
            <!--Logo site-->
            <img src="/templates/images/logo.png" alt="logo">
            <!--Категория новостей-->
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </header>
        <!--Вывод всех новостей сайта-->
        <h1>Просмотр опубликованных новостей</h1>
        <table>
            <tr>
                <th>Название</th>
                <th>Категория</th>
                <th>Текст</th>
            </tr>
        {{ range . }}
        <tr>
            <td><h2>{{ .Title }}</h2></td>
            <td><p>{{ .Category }}</p></td>
            <td><p>{{ .Text }}</p></td>
        </tr>
        <!--Если новостей нет или подключиться не удалось-->
        {{ else }}
            <p>Статей нет! Или База данных недоступна!</p>
        {{ end }}
        </table>
    </body>
</html>