<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Воронежская новостная сеть</title>
        <!-- CSS here -->
            <link rel="stylesheet" href="/templates/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/templates/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/templates/assets/css/ticker-style.css">
            <link rel="stylesheet" href="/templates/assets/css/flaticon.css">
            <link rel="stylesheet" href="/templates/assets/css/slicknav.css">
            <link rel="stylesheet" href="/templates/assets/css/animate.min.css">
            <link rel="stylesheet" href="/templates/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="/templates/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/templates/assets/css/themify-icons.css">
            <link rel="stylesheet" href="/templates/assets/css/slick.css">
            <link rel="stylesheet" href="/templates/assets/css/nice-select.css">
            <link rel="stylesheet" href="/templates/assets/css/style.css">
    </head>
    <body>
        <header>
            <div class="header-area">
                <div class="main-area">
                    <div class="header-top black-bg d-none d-md-block">
                        <div class="container">
                            <div class="col-xl-12">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="header-info-left">
                                        <ul>     
                                            <li><img src="/templates/assets/img/icon/header_icon1.png" alt="">34ºc, Sunny </li>
                                            <li><img src="/templates/assets/img/icon/header_icon2.png" alt="">Tuesday, 18th June, 2019</li>
                                        </ul>
                                    </div>
                                    <div class="header-info-right">
                                        <ul class="header-social">    
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                           <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <footer></footer>
    </body>
</html>



<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="/templates/main.css" rel="stylesheet">
        <title>Просмотр спаршинных новостей</title>
    </head>
    <body>
        <header>
            <!--Logo site-->
            <img src="/templates/images/logo.png" alt="logo">
            <!--Категория новостей-->
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </header>
        <!--Вывод всех новостей сайта-->
        <h1>Просмотр опубликованных новостей</h1>
        <table>
            <thead>
            <tr>
                <th><h1>Название</h1></th>
                <th><h1>Категория</h1></th>
                <th><h1>Текст</h1></th>
            </tr>
            </thead>
        {{ range . }}
        <tbody>
        <tr>
            <td><h2>{{ .Title }}</h2></td>
            <td><p>{{ .Category }}</p></td>
            <td><p>{{ .Text }}</p></td>
        </tr>
        <!--Если новостей нет или подключиться не удалось-->
        {{ else }}
            <p>Статей нет! Или База данных недоступна!</p>
        {{ end }}
        </tbody>
        </table>
    </body>
</html>